.breadcrumb {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}

.breadcrumb-item {
  color: #016BB6;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: 'Inter', sans-serif;
  font-size: 0.87rem;
  font-weight: 400;
  gap: 0.25rem;
  line-height: 1.06rem;
  padding-right: 0.56rem;
  white-space: nowrap;
  width: fit-content;
}

.breadcrumb-item:last-child {
  color: #767676;
  cursor: auto;
}
