.modal {
  padding: 2rem;
}

.modal-title {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 0.87rem;
  font-weight: 600;
  line-height: 1.06rem;
  margin: 0;
  padding-bottom: 1rem;
}

.modal-content {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.06rem;
}
